@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


@font-face {
    font-family: 'idroid';
    src: url(/fontes/idroid.otf) format('opentype');
    font-weight: normal;
    
    
}

:root{
    --cor0:#c5ebd6 ;
    --cor1:#83E1AD ;
    --cor2:#3DDc84 ;
    --cor3:#2FA866 ;
    --cor4:#1A5C37 ;
    --cor5:#063d1e ;
    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: "Bebas Neue";
    --fonte-idroid: 'idroid', sans-serif;
    
}


main  img{
    width: 100%;
}



#idroid{
    width: 7%;
    position: relative;
    height: 10%;
    margin-left: -10px;
    margin-bottom: -5px; 
}

main h1 {
    color: var(--cor5);
    font-family: var(--fonte-idroid);
    font-weight: normal;
    font-size: 1.8em;
    position: relative;
    display: inline-block;
}

*{
    margin: 0px;
    padding: 0px;
}



/*h1.robo::after{

    content: '\00A0\1F916' ;
} */

/*1F916*/ 

body{
    background-color: #c5ebd6;
}
a.externo::after{
    content: '\00A0\1F517';
    
   }
    

aside  a.externo {
    text-decoration: underline;
    
    
}



body{
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);
}



header {
    background-image: linear-gradient(to right, var(--cor5) , var(--cor3) );
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 10px;
    font-weight: normal;
    
    
}

header > h1 {
    color: white;
    font-family: var(--fonte-destaque);
    padding-top: 30px;
    text-align: center;
    font-size: 4em;
    margin-bottom: 20px;
    
    
    
}

header > p {
    font-size: var(--fonte-padrao);
    color: white;
    margin: auto;
    font-size: 1.2em;
    max-width: 600px;
    margin-bottom: 30px;
    padding-right: 10px;
    padding-left: 10px;
}
nav{
   /* background-color: var(--cor5); */
   background-image: linear-gradient(to right, var(--cor5) , var(--cor3) );
   padding: 10px;
   
    
}
 ul  abbr {
    text-decoration: none;
}

nav > a{
    color: white;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
}

nav> a:hover{
    background-color: var(--cor3);
    color: var(--cor5);
    border-radius: 5px;
    transition: .5s;
}
main{
    background-color: white;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 20px;
    border-radius: 0px 0px 10px 10px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgb(95, 92, 92);
   
}


main h2 {
    font-family: var(--fonte-idroid);
    color: var(--cor4);
    font-size: 1.2em;
    background-image: linear-gradient(to right, var(--cor1), transparent);
    font-weight: normal;
   
}

main p{
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    line-height: 2em;
    font-size: 1em;
    
}
main strong{
    color: var(--cor4);
    font-weight: bold;
    
}

footer{
    background-color: var(--cor5);
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}
main img.pequeno{
    display: block;
    margin: auto;
    max-width: 350px;
}
footer{
    
    margin: auto;
    text-align: center;
}

footer > p > a{
    color: white;
    font-weight: bold;
    text-decoration: none;
}

footer a:hover{
    text-decoration: underline;
    color: var(--cor1);
}
main a{
    text-decoration: none;
    font-weight: bold;
    color: var(--cor5);
    background-color: var(--cor1);
    padding: 2px 6px;
}

main a:hover{
    background-color: var(--cor2);
    text-decoration: underline;
}

aside {
    
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.493);
}
 
aside > ul {
    
        list-style-type: '\2714\0020\0020';
        columns: 2;
        
        list-style-position: inside;
        font-weight: bold;
        color: #333; /* Cor do texto */
        font-size: 18px; /* Tamanho da fonte */
         /* Estilo de fonte */
    /* Outras propriedades de estilo */

        
    
}
h3{
    background-color: var(--cor4);
    color: white;
    text-indent: 20px;
    margin: -10px -10px -0px -10px;
    border-radius: 5px 5px 0px 0px;
    padding: 10px;
    
}

div.video{
    background-color: var(--cor5);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 58%;
    position: relative;
}

div.video>iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;

}